@import './styles/theme-colors.css';

.form-control + i.bi-check-circle,
.form-control + i.bi-exclamation-circle {
	background: #fff;
	border-radius: 50%;
	border: 2px solid transparent;
	z-index: 2;
	padding: 0 2px;
	font-size: 1.3em;
}
/* You can add global styles to this file, and also import other style files */
