@import './styles/theme-colors.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.form-control + i.bi-check-circle,
.form-control + i.bi-exclamation-circle {
	background: #fff;
	border-radius: 50%;
	border: 2px solid transparent;
	z-index: 2;
	padding: 0 2px;
	font-size: 1.3em;
}

/* ===============================================
   SIMPLE FOOTER LAYOUT
   =============================================== */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-footer {
  margin-top: auto;
}

/* You can add global styles to this file, and also import other style files */
