@import '../../../styles/theme-colors.css';

.ps-4-5 {
  padding-left: 2rem !important;
}

.placeholder-light::placeholder {
  color: #545a6e !important;
  opacity: 1;
}

/* Estilos para iconos en inputs */
.position-relative .bi {
  font-size: 1rem !important;
  color: var(--color-primary) !important;
  z-index: 10 !important;
  pointer-events: none !important;
  display: inline-block !important;
}
