<main>
	<article>
		<h1 class="text-center mb-4">Bienvenido a nuestra plataforma</h1>
		<p class="text-center">Una plataforma ágil donde las constructoras registran sus proyectos
			 y nuestra empresa encuentra nuevas oportunidades de inversión. Simple, claro y eficiente.</p>
	<main>
		<section class="buildings-list-section mt-5 w-100">
			<h5 class="mb-4 text-primary">Edificios destacados</h5>
			<div class="row g-4 justify-content-center">
				<div class="col-12 col-md-6 col-lg-4" *ngFor="let b of buildings | slice:0:3">
					<app-building-card [building]="b"></app-building-card>
				</div>
			</div>
		</section>
	</main>
