<div>
  <label>Nombre:</label>
  <input [(ngModel)]="generalInfo.name" (ngModelChange)="onInputChange()" name="name">
  <label>Descripción:</label>
  <input [(ngModel)]="generalInfo.description" (ngModelChange)="onInputChange()" name="description">
  <label>Código:</label>
  <input [(ngModel)]="generalInfo.code" (ngModelChange)="onInputChange()" name="code">
  <label>Portal:</label>
  <input [(ngModel)]="generalInfo.doorway" (ngModelChange)="onInputChange()" name="doorway">
  <label>Empresa constructora (ID):</label>
  <input [(ngModel)]="generalInfo.buildingCompanyId" (ngModelChange)="onInputChange()" name="buildingCompanyId">
  <label>Estado (ID):</label>
  <input [(ngModel)]="generalInfo.statusId" (ngModelChange)="onInputChange()" name="statusId">
</div>
