<div>
  <label>Distrito (ID):</label>
  <input [(ngModel)]="location.districtId" (ngModelChange)="onInputChange()" name="districtId">
  <label>Calle (ID):</label>
  <input [(ngModel)]="location.streetId" (ngModelChange)="onInputChange()" name="streetId">
  <label>Portal:</label>
  <input [(ngModel)]="location.doorway" (ngModelChange)="onInputChange()" name="doorway">
  <label>Apartamento (ID):</label>
  <input [(ngModel)]="location.apartmentId" (ngModelChange)="onInputChange()" name="apartmentId">
</div>
