<div>
  <label>Número de pisos:</label>
  <input type="number" [(ngModel)]="technicalDetails.floorCount" (ngModelChange)="onInputChange()" name="floorCount">
  <label>Año de construcción:</label>
  <input type="number" [(ngModel)]="technicalDetails.yearBuilt" (ngModelChange)="onInputChange()" name="yearBuilt">
  <label>Precio:</label>
  <input type="number" [(ngModel)]="technicalDetails.price" (ngModelChange)="onInputChange()" name="price">
  <label>Certificado energético:</label>
  <input [(ngModel)]="technicalDetails.energyCertificate" (ngModelChange)="onInputChange()" name="energyCertificate">
</div>
