<footer class="footer">
  <div class="footer-content container mx-auto my-4 p-4">
    <h4 class="mb-3">Acerca de nosotros</h4>
    <p class="mb-0 lead">
      Somos un equipo especializado en conectar constructoras con nuevas oportunidades de inversión.<br>
      A través de nuestra plataforma, centralizamos y organizamos edificios disponibles para la venta,<br>
      ofreciendo un canal confiable y transparente para que las constructoras den visibilidad a sus proyectos.<br>
      Nuestro objetivo es agilizar el proceso de registro, evaluación y compra, asegurando que cada oportunidad <br>
      se convierta en una inversión de valor para la ciudad y para nuestra empresa.
    </p>
  </div>
</footer>